{% extends "base.html" %}

{% load bootstrap3 %}

{% block title %}
    {{ title }}
{% endblock title %}

{% block content %}
    <div class="jumbotron">
        <h1>{{ header }}</h1>
    </div>

    <div class="row">
        <div>
            <table class="table table-striped">
                <thead>
                    <td>Symbol</td>
                    <td>Name</td>
                    <td>Currency</td>
                </thead>
                {% for sec in object_list %}
                    <tr>{{ sec.as_t|safe }}</tr>
                {% endfor %}
            </table>
        </div>
    </div>

{% endblock content %}