{% extends "__base.html" %}

{% load staticfiles %}

{% block title %}
User Login
{% endblock title %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static "css/login.css" %}" type="text/css" />
{% endblock %}

{% block content %}
<div class="container">
    <div class="col-md-4 col-md-offset-4">
        <form method="post" action="{% url 'accounts:login' %}">
            {% csrf_token %}
            <legend>Please Login</legend>
            {% if form.errors %}
                <p>Your username and password didn't match. Please try again.</p>
            {% endif %}
            <div class="form-group">
                {{ form.username.label_tag }}
                {{ form.username }}
            </div>
            <div class="form-group">
                {{ form.password.label_tag }}
                {{ form.password }}
            </div>
            <input type="hidden" name="next" value="{{ next }}" />
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">Login</button>
            </div>
        </form>
        {# Assumes you setup the password_reset view in your URLconf #}
        {# <p><a href="{% url 'password_reset' %}">Lost password?</a></p> #}
    </div>
    <script>
        $("input", "form").addClass("form-control")
    </script>
</div>
{% endblock content %}