{% extends "__l_single_col.html" %}
{% load static %}

{% block title %}
Portfolio
{% endblock title %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static "bootstrap/css/fileinput.min.css" %}" type="text/css" />
    <script src="{% static "bootstrap/js/fileinput.min.js" %}"></script>
    <script src="{% static "js/uploader.js" %}"></script>
{% endblock %}

{% block main_col %}

    <div class="jumbotron">
        <h1>{{ portfolio.name }}</h1>
        <h2><i>{{ portfolio.description }}</i></h2>
    </div>

    <div class="row">
        <div class="page-header">
            <h3>Holdings</h3>
            <ul>{{ portfolio.sum_currency_as_l|safe }}</ul>
        </div>

        <div>
            <table class="table table-striped">
                <thead>
                    <td>Name</td>
                    <td>Symbol</td>
                    <td>Currency</td>
                    <td>Shares</td>
                    <td>Cost</td>
                    <td>Cost/s</td>
                    <td>Value</td>
                    <td>Dividend</td>
                    <td>Gain</td>
                </thead>
                {% for hld in holdings %}
                    <tr>{{ hld.as_t|safe }}</tr>
                {% endfor %}
            </table>
        </div>
    </div>

    <div class="row">
        <div class="page-header">
            <h3>Transactions</h3>
        </div>
        <div class="col-md-6">
            Add:
            <a href="{% url 'transactions:add_buy' portfolio.id %}"
               class="btn btn-default" role="button">Buy</a>
            <a href="{% url 'transactions:add_sell' portfolio.id %}"
               class="btn btn-default" role="button">Sell</a>
            <a href="{% url 'transactions:add_dividend' portfolio.id %}"
               class="btn btn-default" role="button">Dividend</a>
            <a href="{% url 'transactions:add_split' portfolio.id %}"
               class="btn btn-default" role="button">Split</a>
        </div>

        <div class="col-md-6">
            <form id="uploader" class="form">
                <input id="input1" class="file-loading" type="file" data-show-preview="false">
            </form>
        </div>

        <div>
            <table class="table table-striped">
                {% include "includes/_transaction_thead.html" %}
                {% for txn in transactions %}
                    <tr>{{ txn.as_t|safe }}</tr>
                {% endfor %}
            </table>
        </div>
    </div>

    <div class="modal fade" id="modalUploader" tabindex=-1 role="dialog" aria-labelledby="uploader_confirm">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Confirm Transactions</h4>
                </div>
                <div class="modal-body">
                    <table class="table table-stripped">
                        {% include "includes/_transaction_thead.html" %}
                        <tbody>

                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn" id="modalClose">close</a>
                    <a href="#" class="btn btn-primary">Upload</a>
                </div>
            </div>
        </div>
    </div>

{% endblock main_col %}