{% extends "__l_single_col.html" %}

{% block title %}
Portfolio
{% endblock title %}

{% block main_col %}

    <div class="jumbotron">
        <h1>{{ portfolio.name }}</h1>
        <h2><i>{{ portfolio.description }}</i></h2>
    </div>

    <div class="row">
        <div class="page-header">
            <h3>Holdings</h3>
        </div>

        <div>
            <table class="table table-striped">
                <thead>
                    <td>Name</td>
                    <td>Symbol</td>
                    <td>Currency</td>
                    <td>Shares</td>
                    <td>Cost</td>
                    <td>Cost/s</td>
                    <td>Dividend</td>
                    <td>Gain</td>
                </thead>
                {% for hld in holdings %}
                    <tr>{{ hld.as_t|safe }}</tr>
                {% endfor %}
            </table>
        </div>
    </div>

    <div class="row">
        <div class="page-header">
            <h3>Transactions</h3>
        </div>
        <h4>
            Add:
            <a href="{% url 'transactions:add_buy' portfolio.id %}"
               class="btn btn-default btn-lg" role="button">Buy</a>
            <a href="{% url 'transactions:add_sell' portfolio.id %}"
               class="btn btn-default btn-lg" role="button">Sell</a>
            <a href="{% url 'transactions:add_dividend' portfolio.id %}"
               class="btn btn-default btn-lg" role="button">Dividend</a>
            <a href="{% url 'transactions:add_split' portfolio.id %}"
               class="btn btn-default btn-lg" role="button">Split</a>
        </h4>

        <div>
            <table class="table table-striped">
                <thead>
                    <td>Type</td>
                    <td>Date</td>
                    <td>Name</td>
                    <td>Symbol</td>
                    <td>Shares</td>
                    <td>Price</td>
                    <td>Fee</td>
                    <td>Cash Flow</td>
                    <td>Ratio</td>
                </thead>
                {% for txn in transactions %}
                    <tr>{{ txn.as_t|safe }}</tr>
                {% endfor %}
            </table>
        </div>
    </div>

{% endblock main_col %}