{% extends "__l_single_col.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
Portfolio
{% endblock title %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static "bootstrap/css/fileinput.min.css" %}" type="text/css" />
    <script src="{% static "bootstrap/js/fileinput.min.js" %}"></script>
    <script src="{% static "js/portfolio_detail.js"%}"></script>
{% endblock %}

{% block main_col %}

    <div class="jumbotron">
        <h1>{{ portfolio.name }}</h1>
        <h2><i>{{ portfolio.description }}</i></h2>
    </div>

    <div class="row">
        <div class="page-header">
            <h3>Holdings</h3>
            <h4>
                Total Value: {{ portfolio.total_value|floatformat:2 }}
            </h4>
            <ul>
                {{ portfolio.sum_currency|unordered_list }}
            </ul>
        </div>

        <div>
            <table class="table table-striped" id="holding_table">
                <thead>
                    <td>Name</td>
                    <td>Symbol</td>
                    <td>Currency</td>
                    <td>Shares</td>
                    <td>Cost</td>
                    <td>Cost/s</td>
                    <td>Value</td>
                    <td>Dividend</td>
                    <td>Gain</td>
                </thead>
                {% for hld in holdings %}
                    <tr>{{ hld.as_t|safe }}</tr>
                {% endfor %}
            </table>
        </div>
    </div>

    <div class="row">
        <div class="page-header">
            <h3>Transactions</h3>
        </div>
        <div class="col-md-1">
            <a href="{% url 'transactions:add' portfolio.id %}"
               class="btn btn-default" role="button">Add</a>
        </div>

        <div class="col-md-5">
            {% crispy upload_form upload_form.helper %}
        </div>

        <div>
            <table class="table table-striped" id="transaction_table">
                {% include "includes/_transaction_thead.html" %}
                {% for txn in transactions %}
                    {{ txn.as_t|safe }}
                {% endfor %}
            </table>
        </div>
    </div>

{% endblock main_col %}