body {
    padding-top: 150px;
    background: #f8f8f8;
}

form {
    padding: 15px;
    background-color: snow;
    border: 1px solid lightgrey;
}

form legend {
    padding: 15px 25px;
    background-color: #417690;
    color: #ffc;
}
