<nav class="navbar navbar-default">
    <div id="navbar" class="navbar-collapse collapse">
        <div class="navbar-header">
            <ul class="nav navbar-nav">
                <li><a href="{% url 'home' %}"><b>Home</b></a></li>
                <li><a href="{% url 'portfolios:new' %}"><b>New Portfolio</b></a></li>
                <li><a href="{% url 'securities:new' %}"><b>New Security</b></a></li>
                <li><a href="{%  url 'securities:list' %}"><b>All Securities</b></a></li>
            </ul>
        </div>
    </div>
</nav>
