<div class="container">
<nav class="navbar navbar-default">
    <div id="navbar" class="navbar-collapse collapse">
        <div class="navbar-header">
            <ul class="nav navbar-nav">
                <li><a href="{% url 'home' %}"><b>Filter</b></a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        Security
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="{% url 'securities:new' %}">New</a></li>
                        <li><a href="{% url 'securities:list' %}">List All</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        Portfolio
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="{% url 'portfolios:new' %}">New</a></li>
                        <li><a href="{% url 'portfolios:list' %}">List All</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        Benchmark
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="{% url 'benchmarks:create' %}">Create</a></li>
                        <li><a href="{% url 'benchmarks:list' %}">List All</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        Todo
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="{% url 'todos:create' %}">Create</a></li>
                    </ul>
                </li>
            </ul>
        </div>

        <div class="nav navbar-right navbar-collapse collapse">
            <ul class="nav navbar-nav">
                {% if user.id %}
                    <li><a href="#">{{ user }}</a></li>
                    <li><a href="{% url 'accounts:logout' %}?next=/">logout</a></li>
                {% else %}
                    <li><a href="{% url 'accounts:login' %}?next=/">login</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
</div>